.Home {
  text-align: center;
  min-height: 100vh;
  background-color: white;
}

.Home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}


.Home-footer {
  min-height: 14vh;
  display: block;
  justify-content: center;
}

.Bottom{
	justify-content: center;
  margin-top: 12px;
}

.Home-link {
  color: #46fff093;
}

input[type=text] {
  padding: 10px;
  padding-left: 50px;
  font-size: 15px;
  border: 0px solid grey;
  float: left;
  width: 100%;
  background: #f1f1f1;
  margin: 8px 0px;
  border-radius: 4px;

  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* Style the submit button */
button[type=submit] {
  float: left;
  width: 50px;
  background: black;
  font-size: 13px;
  border: 0px solid grey;
  border-left: none;
  cursor: pointer;
  padding: 16px 16px;
  text-decoration: none;
  margin: 8px 0px;
  border-radius: 4px;
  color: white;

  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

form.Search button:hover {
  background: rgb(33, 33, 33);
}

/* Clear floats */
form.Search::after {
  content: "";
  clear: both;
  display: table;
}

form.Search {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid white;
}

th, td {
    padding: 8px;
}

.pagination{
  width: 200px;
  height: 50px;
  background: white;
  color: black;
  font-size: 16px;
  border: 1px solid black;
  cursor: pointer;

  padding: 8px 8px;
  text-decoration: none;
  margin-top: 24px;
  border-radius: 4px;
  display: none;
}

#loadMoreButton{
  background: black;
  color: white;
  border: 1px solid black;
}

.mahasiswa-item:hover {
  background-color: #f1f1f1;
}

.Bottom {
  margin-bottom: 50px;
}

#notfound{
  margin-top: 50px;
}
